body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/backgroundeimgindex.peg.jpg);  
    background-size: cover;
    font-family: 'Barlow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Centralizando a div 'cadastro' */
.cadastro {
    width: 90%; /* Define uma largura adequada para dispositivos móveis */
    max-width: 50%; /* Largura máxima */
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    
    padding: 20px; /* Espaço interno */
    border-radius: 10px; /* Bordas arredondadas */
    margin: 5% auto; /* Centraliza horizontalmente e adiciona espaçamento */
    display: flex;
    flex-direction: column; /* Coloca os itens um abaixo do outro */
    align-items: center; /* Centraliza o conteúdo */
    text-align: center;
    box-shadow: 17px 14px 8px 3px rgba(0, 0, 0, 0.25);
}

/* Estilo para os textos e entradas */
.cadastro h1 {
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
}

.cadastro input,
.cadastro select,
.cadastro button {
    width: 96%; /* Faz com que os inputs ocupem quase toda a largura da div */
    padding: 10px; /* Espaço interno dos inputs */
    margin: 10px 0; /* Espaço entre cada item */
    border: 2px solid black; /* Borda sólida preta */
    border-radius: 5px;
    font-size: 18px;
    
}


.cadastro button {
    padding: 15px;
    background-color: black; /* Cor do botão */
    color: white;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    padding-left: 20px;
    padding-right: 27px;
}


.cadastro button:hover {
    background-color: white; /* Cor do botão ao passar o mouse */
    color: black;
    border: 2px solid black;
}

.cadastros {
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
    font-weight: bold; /* Deixa o texto em negrito */
    text-align: left;
    width: 70%;
}

.cadastro a{
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: black;
}

.link_cadastro {
    margin: 10px;
}