body {
    margin: 0;
    padding: 0;
    /* background-image: url(../assets/backgroundeimgindex.peg.jpg);   */
    background-size: cover;
    font-family: 'Barlow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.background {
    position: fixed;

    width: 100%;
    height: 100%;
    background-image: url(../assets/backgroundeimgindex.peg.jpg); /* Caminho da sua imagem */
    background-size: cover;
    
    filter: blur(5px); /* Aplica o desfoque na imagem */
    z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
}

.background::before {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
}

/* Centralizando a div 'cadastro' */
.content {
    max-width: 70%;
    background: linear-gradient(145deg, #ffffff, #f1f1f1);
    padding: 65px;
    border-radius: 10px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 17px 14px 8px 3px rgba(0, 0, 0, 0.25);
    width: 96%;
}

.indicadores {
    border-radius: 10px;
    /* background-color: white; */
    padding: 20px;
    width: 42%;
    /* border: solid; */
    background: linear-gradient(349deg, #e1e1e1, #ffffff);
    display: flex; /* Define o contêiner como flexível */
    flex-direction: column; /* Garante que os itens fiquem em uma coluna */
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    gap: 1px;
}

.indicadores p {
    justify-content: center;
}

.detalhes {
    
    /* justify-content: center;
    align-items: center; */

    background: linear-gradient(349deg, #e1e1e1, #ffffff);
    border-radius: 10px;

    padding: 8px 20px 8px 20px;
    
    flex-direction: column;
}



.grafico {
    display: flex;
    align-items: center;
    width: 500px;
    height: 500px;
    
}

/* Estilo para os texto e entradas */
.content h1 {
    display: flex;
    justify-content: center;
    font-size: 37px;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
    color: black;
    margin: 0;
    margin-bottom: 55px;
}

.content h2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 27px;
}

.texto {
    font-size: 18px;
    text-align: justify;
    width: 85%;
    display: flex;
    
}


.kpi {
    display: flex;
    gap: 25px;
    justify-content: center;
    font-size: 17px;
}

.kpi span {
    /* background-color: white; */
    border-radius: 10px;
    /* border: solid; */
    /* display: flex; */
    width: 100px;
    height: 111px;
    background: linear-gradient(349deg, #e1e1e1, #ffffff);
}

.dash {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}