.navbar {
    background-color: white;
    height: 93px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    align-items: center; 
    width: 100%;
    /* background: linear-gradient(145deg, #ffffff, #e6e6e6); */
    
}


.navbar span {
    display: flex;
    gap: 24px;
    padding: 0;
}

.navbar a {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0 5px;
    text-align: center;
    color: black;
    text-decoration: none;
    
}

.logo img{
    width: 150px;
    height: 55px;
}

.container-botao {
    display: flex;
}

.botao button {
    background-color: black; /* Cor inicial dos botões */
    color: white;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease; /* Transição suave */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.botao button a {
    color: inherit; /* Mantém a cor do texto do botão */
    text-decoration: none;
}

/* Estilo hover para os botões */
.botao button:hover {
    background-color: white; /* Cor do botão ao passar o mouse */
    color: black;
    border: 2px solid black;
}